@charset "UTF-8";
/*
======================================================================
Project Name    : Animation Showcase
File Name       : style.scss
Encoding        : UTF-8

Copyright © 2020 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Link styles
  ============= */
/* ==============
   Media queries
  ============= */
/*
======================================================================
Project Name    : My Portfolio
File Name       : _keyframes_mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

#main {
  padding: 90px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
}

.moving-text {
  font-size: 7.2rem;
}

/* ==============
    Header
  ============= */
#header {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* ==============
    Nav
  ============= */
#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  #nav {
    padding: 8px 0;
  }
}

#nav .logo {
  font-size: 3rem;
  flex: 0.3;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 600px) {
  #nav .logo {
    flex: 0.5;
    font-size: 2rem;
  }
}

#nav .logo a {
  text-decoration: none;
  color: white;
}

#nav .nav-list {
  flex: 0.7;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #nav .nav-list {
    display: none !important;
  }
}

#nav .nav-list .nav-list-item {
  position: relative;
  font-size: 3rem;
  width: 15%;
}

#nav .nav-list .nav-list-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 8px 0;
}

#nav .nav-list .nav-list-item a:visited {
  color: white;
}

#nav .nav-list .nav-list-item .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 200px;
}

#nav .nav-list .nav-list-item .dropdown .dropdown-item {
  font-size: 1.6rem;
}

#nav .nav-list .nav-list-item .dropdown .dropdown-item a:hover {
  color: white;
  background-color: gray;
}

#nav .nav-list .nav-list-item:hover .dropdown {
  display: block;
}

#nav .nav-list .nav-list-item:hover > a {
  color: black;
  background-color: white;
}

#nav .menu-button {
  display: block;
  margin: 0 0 0 auto;
  height: 30px;
  padding: 25px 15px;
  background-color: black;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  #nav .menu-button {
    display: none !important;
  }
}

#nav .menu-button .menu-bar {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: 0;
  position: relative;
}

#nav .menu-button .menu-bar:before {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: -10px;
}

#nav .menu-button .menu-bar:after {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: 10px;
}

#nav .nav-list-mobile {
  visibility: hidden;
  width: 100%;
  font-size: 1.8rem;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  margin: 0;
  transition: all 100ms ease;
}

#nav .nav-list-mobile .nav-list-item-mobile {
  margin-bottom: 1em;
}

#nav .nav-list-mobile .nav-list-item-mobile:last-child {
  margin-bottom: 0;
}

#nav .nav-list-mobile .nav-list-item-mobile a {
  display: block;
  text-decoration: none;
  color: white;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title .plus-bar {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 2px;
  margin-right: 4px;
  background-color: white;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title .plus-bar:before {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  transform: rotate(90deg);
  display: inline-block;
  width: 12px;
  height: 2px;
  margin-right: 4px;
  background-color: white;
}

#nav .nav-list-mobile .nav-list-item-mobile .dropdown {
  visibility: hidden;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  font-size: 1.4rem;
  padding-left: 1em;
  transition: all 100ms ease;
}

#nav .nav-list-mobile .nav-list-item-mobile .dropdown .dropdown-item {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}

#nav .nav-list-mobile .nav-list-item-mobile.is-opened .dropdown {
  visibility: visible;
  height: auto;
  transform: scaleY(1);
}

#nav .nav-list-mobile .nav-list-item-mobile.is-opened .menu-title .plus-bar:before {
  transform: rotate(0deg);
  transition: all 100ms ease;
}

@media screen and (min-width: 600px) {
  #nav .nav-list-mobile {
    display: none !important;
  }
}

#nav.is-opened .menu-button .menu-bar {
  background-color: transparent;
}

#nav.is-opened .menu-button .menu-bar:before {
  transform: rotate(45deg) translate(7px, 7px);
  transition: all 100ms ease;
}

#nav.is-opened .menu-button .menu-bar:after {
  transform: rotate(-45deg) translate(7px, -7px);
  transition: all 100ms ease;
}

#nav.is-opened .nav-list-mobile {
  visibility: visible;
  height: auto;
  transform: scaleY(1);
  margin: 2em 0;
}
