@charset "UTF-8";
/*
======================================================================
Project Name    : Animation Showcase
File Name       : style.scss
Encoding        : UTF-8

Copyright © 2020 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
/* ==============
    Link styles
  ============= */
/* ==============
   Media queries
  ============= */
/*
======================================================================
Project Name    : My Portfolio
File Name       : _keyframes_mixin.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

#main {
  padding: 90px 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* ==============
    Common parts
  ============= */
.container {
  width: 80%;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
}

/*
======================================================================
Project Name    : My Portfolio
File Name       : _variables.scss
Encoding        : UTF-8

Copyright © 2018 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/
/** =========
  Font
========= **/
/** =========
  Colors
========= **/
/** =========
  Size
========= **/
/** =========
  Media Queries
========= **/
.page-title {
  font-size: 3.5rem;
}

.codepen-button a {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 2rem;
  background-color: #000;
}

.codepen-button a:hover {
  transition: all 0.5s;
  color: #fff;
  background-color: gray;
}

.moving-text {
  font-size: 7.2rem;
}

/* ==============
    Header
  ============= */
#header {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* ==============
    Nav
  ============= */
#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  #nav {
    padding: 8px 0;
  }
}

#nav .logo {
  font-size: 3rem;
  flex: 0.3;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 600px) {
  #nav .logo {
    flex: 0.5;
    font-size: 2rem;
  }
}

#nav .logo a {
  text-decoration: none;
  color: #fff;
}

#nav .nav-list {
  flex: 0.7;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #nav .nav-list {
    display: none !important;
  }
}

#nav .nav-list .nav-list-item {
  position: relative;
  font-size: 3rem;
}

#nav .nav-list .nav-list-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 8px 20px;
}

#nav .nav-list .nav-list-item a:visited {
  color: #fff;
}

#nav .nav-list .nav-list-item .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #000;
  min-width: 200px;
}

#nav .nav-list .nav-list-item .dropdown .dropdown-item {
  font-size: 1.6rem;
}

#nav .nav-list .nav-list-item .dropdown .dropdown-item a:hover {
  color: #fff;
  background-color: gray;
}

#nav .nav-list .nav-list-item:hover .dropdown {
  display: block;
}

#nav .nav-list .nav-list-item:hover > a {
  color: #000;
  background-color: #fff;
}

#nav .menu-button {
  display: block;
  margin: 0 0 0 auto;
  height: 30px;
  padding: 25px 15px;
  background-color: #000;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  #nav .menu-button {
    display: none !important;
  }
}

#nav .menu-button .menu-bar {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: 0;
  position: relative;
}

#nav .menu-button .menu-bar:before {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: -10px;
}

#nav .menu-button .menu-bar:after {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #E1E2E7;
  top: 10px;
}

#nav .nav-list-mobile {
  visibility: hidden;
  width: 100%;
  font-size: 1.8rem;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  margin: 0;
  transition: all 100ms ease;
}

#nav .nav-list-mobile .nav-list-item-mobile {
  margin-bottom: 1em;
}

#nav .nav-list-mobile .nav-list-item-mobile:last-child {
  margin-bottom: 0;
}

#nav .nav-list-mobile .nav-list-item-mobile a {
  display: block;
  text-decoration: none;
  color: #fff;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title .plus-bar {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 2px;
  margin-right: 4px;
  background-color: #fff;
}

#nav .nav-list-mobile .nav-list-item-mobile .menu-title .plus-bar:before {
  content: "";
  position: absolute;
  transition: all 100ms ease;
  transform: rotate(90deg);
  display: inline-block;
  width: 12px;
  height: 2px;
  margin-right: 4px;
  background-color: #fff;
}

#nav .nav-list-mobile .nav-list-item-mobile .dropdown {
  visibility: hidden;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  font-size: 1.4rem;
  padding-left: 1em;
  transition: all 100ms ease;
}

#nav .nav-list-mobile .nav-list-item-mobile .dropdown .dropdown-item {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}

#nav .nav-list-mobile .nav-list-item-mobile.is-opened .dropdown {
  visibility: visible;
  height: auto;
  transform: scaleY(1);
}

#nav .nav-list-mobile .nav-list-item-mobile.is-opened .menu-title .plus-bar:before {
  transform: rotate(0deg);
  transition: all 100ms ease;
}

@media screen and (min-width: 600px) {
  #nav .nav-list-mobile {
    display: none !important;
  }
}

#nav.is-opened .menu-button .menu-bar {
  background-color: transparent;
}

#nav.is-opened .menu-button .menu-bar:before {
  transform: rotate(45deg) translate(7px, 7px);
  transition: all 100ms ease;
}

#nav.is-opened .menu-button .menu-bar:after {
  transform: rotate(-45deg) translate(7px, -7px);
  transition: all 100ms ease;
}

#nav.is-opened .nav-list-mobile {
  visibility: visible;
  height: auto;
  transform: scaleY(1);
  margin: 2em 0;
}

/* ==============
    Footer
  ============= */
#footer .copyright {
  text-align: center;
}

/* ==============
    Top page
  ============= */
.hero-title {
  text-align: center;
}

/* ==============
    CSS Hover Effects page
  ============= */
#another-view-on-top .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#another-view-on-top .list .list-item {
  width: 30%;
  margin-bottom: 30px;
  padding: 0;
}

#another-view-on-top .list .list-item:last-child {
  margin-bottom: 0;
}

#another-view-on-top .list .list-item .img-box {
  width: 100%;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 600px) {
  #another-view-on-top .list .list-item .img-box {
    margin: 0;
  }
}

#another-view-on-top .list .list-item .img-box .img-box-link::after, #another-view-on-top .list .list-item .img-box .img-box-link::before, #another-view-on-top .list .list-item .img-box .mask::after, #another-view-on-top .list .list-item .img-box .mask::before {
  background-color: #1DA9A2;
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

@media screen and (max-width: 600px) {
  #another-view-on-top .list .list-item .img-box .img-box-link::after, #another-view-on-top .list .list-item .img-box .img-box-link::before, #another-view-on-top .list .list-item .img-box .mask::after, #another-view-on-top .list .list-item .img-box .mask::before {
    transition: none;
    -webkit-transition: none;
  }
}

#another-view-on-top .list .list-item .img-box .img-box-link {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #1DA9A2;
}

#another-view-on-top .list .list-item .img-box .img-box-link:hover .mask::before, #another-view-on-top .list .list-item .img-box .img-box-link:hover .mask::after {
  height: 100%;
  height: calc(100% + 1px);
}

#another-view-on-top .list .list-item .img-box .img-box-link:hover *::-ms-backdrop, #another-view-on-top .list .list-item .img-box .img-box-link:hover .mask::before, #another-view-on-top .list .list-item .img-box .img-box-link:hover .mask::after {
  height: 100%;
}

#another-view-on-top .list .list-item .img-box .img-box-link:hover::after, #another-view-on-top .list .list-item .img-box .img-box-link:hover::before {
  width: 100%;
  width: calc(100% + 1px);
}

#another-view-on-top .list .list-item .img-box .img-box-link:hover *::-ms-backdrop, #another-view-on-top .list .list-item .img-box .img-box-link:hover::after, #another-view-on-top .list .list-item .img-box .img-box-link:hover::before {
  width: 100%;
}

#another-view-on-top .list .list-item .img-box .img-box-link::before {
  bottom: -1px;
  height: 20px;
  right: -1px;
  width: 0px;
}

#another-view-on-top .list .list-item .img-box .img-box-link::after {
  height: 20px;
  left: -1px;
  top: -1px;
  width: 0px;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask::before {
  height: 0px;
  right: -1px;
  top: -1px;
  width: 20px;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask::after {
  bottom: -1px;
  height: 0px;
  left: -1px;
  width: 20px;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask .mask-container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask .mask-container .caption-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask .mask-container .caption-detail {
  font-size: 1.5rem;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask .mask-container .mask-button {
  width: 60%;
  margin: 0 auto;
  padding: 8px 0;
  border: solid 2px #1DA9A2;
}

#another-view-on-top .list .list-item .img-box .img-box-link .mask .mask-container .mask-button:hover {
  transition: all 0.5s;
  color: #fff;
  background-color: #1DA9A2;
}

#another-view-on-top .list .list-item .img-box .img-box-link img {
  width: 100%;
}

#another-view-on-top .list .list-item .img-box .img-box-link:hover .mask {
  opacity: 1;
}

#another-view-on-top .list .list-item .img-box .caption-info {
  text-align: center;
  margin-top: 8px;
}

#another-view-on-top .list .list-item .img-box .caption-info .caption-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1em 0 0 0;
}

#another-view-on-top .list .list-item .img-box .caption-info .caption-detail {
  font-size: 1.6rem;
  margin: 0;
}
