#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    font-size: 3rem;
    flex: 0.3;
    margin: 0 16px 0 0;

    @include max-screen($breakpMobileLand-max) {
      flex: 0.5;
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .nav-list {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @include max-screen($breakpMobileLand-max) {
      display: none !important;
    }

    .nav-list-item {
      position: relative;
      font-size: 3rem;
      width: 15%;

      a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 8px 0;

        &:visited {
          color: white;
        }

        &:hover {
          color: black;
          background-color: white;
        }
      }

      &:hover {
        .dropdown {
          visibility: visible;
          display: block;
        }
      }
      .dropdown {
        visibility: hidden;
        display: none;
        position: absolute;
        transition: all 0.5s ease;
        right: 0;
        background-color: black;
        min-width: 200px;

        &:hover {
          visibility: visible;
          display: block;
        }

        .dropdown-item {
          font-size: 1.6rem;

          a {
            &:hover {
              color: white;
              background-color: gray;
            }
          }
        }
      }
    }
  }

  .menu-button {
    display: block; // Align the button to the right
    margin: 0 0 0 auto; // Align the button to the right
    height: 30px;
    padding: 25px 15px;
    background-color: black;
    border: 1px solid gray;

    @include min-screen($breakpMobileLand-max) {
      display: none !important;
    }

    .menu-bar {
      @include hamburgerBorder(0);
      position: relative;
      
      &:before {
        content: "";
        position: absolute;
        transition: all 100ms ease;
        @include hamburgerBorder(-10px);
      }
      
      &:after {
        content: "";
        position: absolute;
        transition: all 100ms ease;
        @include hamburgerBorder(10px);
      }
    }
  }

  .nav-list-mobile {
    display: none;
    width: 100%;
    transition: all 100ms ease;

    .nav-list-item {
      a {
        text-decoration: none;
        color: white;
      }
    }

    @include min-screen($breakpMobileLand-max) {
      display: none !important;
    }
  }

  &.is-open {
    .menu-button {
      .menu-bar {
        background-color: transparent;
        
        &:before {
          transform: rotate(45deg) translate(7px, 7px);
          transition: all 100ms ease;
        }
        
        &:after {
          transform: rotate(-45deg) translate(7px, -7px);
          transition: all 100ms ease;
        }
      }
    }

    .nav-list-mobile {
      display: block;
    }
  }

}