#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;

  @include max-screen($breakpMobileLand-max) {
    padding: 8px 0;
  }

  .logo {
    font-size: 3rem;
    flex: 0.3;
    margin: 0 16px 0 0;

    @include max-screen($breakpMobileLand-max) {
      flex: 0.5;
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .nav-list {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @include max-screen($breakpMobileLand-max) {
      display: none !important;
    }

    .nav-list-item {
      position: relative;
      font-size: 3rem;
      width: 15%;

      a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 8px 0;

        &:visited {
          color: white;
        }
      }

      .dropdown {
        visibility: hidden;
        display: none;
        position: absolute;
        right: 0;
        background-color: black;
        min-width: 200px;

        &:hover {
          visibility: visible;
          display: block;
        }

        .dropdown-item {
          font-size: 1.6rem;

          a {
            &:hover {
              color: white;
              background-color: gray;
            }
          }
        }
      }

      &:hover {
        .dropdown {
          visibility: visible;
          display: block;
        }

        > a {
          color: black;
          background-color: white;
        }
      }
    }
  }

  .menu-button {
    display: block; // Align the button to the right
    margin: 0 0 0 auto; // Align the button to the right
    height: 30px;
    padding: 25px 15px;
    background-color: black;
    border: 1px solid gray;

    @include min-screen($breakpMobileLand-max) {
      display: none !important;
    }

    .menu-bar {
      @include hamburgerBorder(0);
      position: relative;
      
      &:before {
        content: "";
        position: absolute;
        transition: all 100ms ease;
        @include hamburgerBorder(-10px);
      }
      
      &:after {
        content: "";
        position: absolute;
        transition: all 100ms ease;
        @include hamburgerBorder(10px);
      }
    }
  }

  .nav-list-mobile {
    display: none;
    height: 0;
    width: 100%;
    font-size: 1.8rem;
    margin: 2em 0;
    transition: all 100ms ease;

    .nav-list-item-mobile {
      margin-bottom: 1em;
      
      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: block;
        text-decoration: none;
        color: white;
      }

      .menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 8px 0;

        .plus-bar {
          display: inline-block;
          position: relative;
          width: 12px;
          height: 2px;
          margin-right: 4px;
          background-color: white;

          &:before {
            content: "";
            position: absolute;
            transition: all 100ms ease;
            transform: rotate(90deg);
            display: inline-block;
            width: 12px;
            height: 2px;
            margin-right: 4px;
            background-color: white;
          }
        }
      }

      .dropdown {
        display: none;
        font-size: 1.4rem;
        padding-left: 1em;

        .dropdown-item {
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: 8px;
          border-bottom: 1px solid gray;
        }
      }

      &.is-opened {
        .dropdown {
          display: block;
        }

        .menu-title {
          .plus-bar {
            &:before {
              transform: rotate(0deg);
              transition: all 100ms ease;
            }
          }
        }
      }
    }

    @include min-screen($breakpMobileLand-max) {
      display: none !important;
    }
  }

  &.is-opened {
    .menu-button {
      .menu-bar {
        background-color: transparent;
        
        &:before {
          transform: rotate(45deg) translate(7px, 7px);
          transition: all 100ms ease;
        }
        
        &:after {
          transform: rotate(-45deg) translate(7px, -7px);
          transition: all 100ms ease;
        }
      }
    }

    .nav-list-mobile {
      display: block;
      height: auto;
    }
  }

}