/*
======================================================================
Project Name    : Animation Showcase
File Name       : style.scss
Encoding        : UTF-8

Copyright © 2020 Kenta Kodashima. All rights reserved.

This source code or any portion there of must not be
reproduced or used in any manner whatsoever.
======================================================================
*/

@import "utils/variables";
@import "utils/mixin";
@import "utils/keyframes_mixin";

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fontSizeBase;
}

body {
  font-size: $fontSizeBody;
}

#main {
  padding: 90px 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* ==============
    Common parts
  ============= */
@import "common/container";
@import "common/section-title";
@import "common/page-title";
@import "common/codepen-button";

.moving-text {
  font-size: 7.2rem;
}

/* ==============
    Header
  ============= */
@import "structure/header";

/* ==============
    Nav
  ============= */
@import "structure/nav";

/* ==============
    Footer
  ============= */
@import "structure/footer";

/* ==============
    Top page
  ============= */
@import "top/top";

/* ==============
    CSS Hover effects page
  ============= */
@import "css-hover/index";

/* ==============
    JS + CSS buttons paeg
  ============= */
@import "js-css-buttons/index";
@import "js-css-navigation/index";