
#hamburger-buttons {
  .hamburger-button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .humburger-to-cross {
      .content {
        .menu-button {
          display: block;
          margin: 0 auto;
          height: 30px;
          padding: 25px 15px;
          background-color: $colorBlack;
          border: 1px solid $colorGray;
        
          .menu-bar {
            @include hamburgerBorder(0);
            position: relative;
            
            &:before {
              content: "";
              position: absolute;
              transition: all 100ms ease;
              @include hamburgerBorder(-10px);
            }
            
            &:after {
              content: "";
              position: absolute;
              transition: all 100ms ease;
              @include hamburgerBorder(10px);
            }
          }
        }
      }
    
      &.is-opened {
        .menu-button {
          .menu-bar {
            background-color: transparent;
            
            &:before {
              transform: rotate(45deg) translate(7px, 7px);
              transition: all 100ms ease;
            }
            
            &:after {
              transform: rotate(-45deg) translate(7px, -7px);
              transition: all 100ms ease;
            }
          }
        }
      }
    }
  }
}